*{padding: 0; margin: 0}

body {
    background-color: black;
    color: white;
    font-size: 1em;
}

.wrapper {
    width: 100%;
    height: 700px;
}

.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

    background: no-repeat;
    background-size: cover;
    filter: brightness(30%) contrast(80%);

}

.header {
    width: 100%;
}

.pagetitle {
    font-family: 'Germania One';
    color: #D5D5D5;
    background-color: #2C2C2C;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation {
    background-color: #242424;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    
    justify-content: center;
}

.navigation > a {
    font-family: 'Germania One';
    font-size: 1.5em;
    color: #4C4C4C;
    transition: color 0.45s;
    margin: 10px 20px;
    text-decoration: none;
}

.navigation > a:hover {
    color: #D5D5D5;
    transition: color 0.3s;
}

.container {
    font-family: 'Roboto Slab', serif;
    max-width: 900px;
    margin: auto;
}

.content {

}

.portrait {
    max-width: 100%;
    margin: 50px auto;
    align-self: center;
    display: block;
}

.name {
    width: 100%;
    text-align: center;
    margin: 10px auto;
    font-size: 2.5em;
}

.origin {
    width: 100%;
    display: flex;
    justify-content: center;

}

.origin p {
    text-align: center;
    line-height: 25px;
}

.origin img {
    margin: 0 5px;
    width: 40px;
    height: 25px;
}

.heading {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 10px auto;
}

.summary {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    hyphens: auto;
    text-align: justify;
}

.paragraph {
    margin-bottom: 1.5em;
    font-size: 1.2em;
    hyphens: auto;
    text-align: justify;
}

.footer {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 160px;
    font-family: 'Roboto Slab';
    color: #696868;
    background: linear-gradient(transparent, #161616);
}

hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    margin: 20px auto;
}

.line .line-text {
    background: #f2f0e4;
    padding: 0 20px;
    Text-align : Center;
}